
-- Roles
CREATE TYPE public.app_role AS ENUM ('admin', 'manager', 'staff');

CREATE TABLE public.profiles (
  id UUID PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
  email TEXT,
  full_name TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);
GRANT SELECT, INSERT, UPDATE ON public.profiles TO authenticated;
GRANT ALL ON public.profiles TO service_role;
ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;
CREATE POLICY "profiles_select_own" ON public.profiles FOR SELECT TO authenticated USING (auth.uid() = id);
CREATE POLICY "profiles_update_own" ON public.profiles FOR UPDATE TO authenticated USING (auth.uid() = id);
CREATE POLICY "profiles_insert_own" ON public.profiles FOR INSERT TO authenticated WITH CHECK (auth.uid() = id);

CREATE TABLE public.user_roles (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
  role app_role NOT NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  UNIQUE (user_id, role)
);
GRANT SELECT ON public.user_roles TO authenticated;
GRANT ALL ON public.user_roles TO service_role;
ALTER TABLE public.user_roles ENABLE ROW LEVEL SECURITY;
CREATE POLICY "user_roles_select_own" ON public.user_roles FOR SELECT TO authenticated USING (auth.uid() = user_id);

CREATE OR REPLACE FUNCTION public.has_role(_user_id uuid, _role app_role)
RETURNS boolean LANGUAGE sql STABLE SECURITY DEFINER SET search_path = public AS $$
  SELECT EXISTS (SELECT 1 FROM public.user_roles WHERE user_id = _user_id AND role = _role)
$$;

-- Auto-create profile + default role on signup
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS trigger LANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$
BEGIN
  INSERT INTO public.profiles (id, email, full_name)
  VALUES (NEW.id, NEW.email, COALESCE(NEW.raw_user_meta_data->>'full_name', NEW.email));
  -- First user becomes admin, rest become staff
  IF NOT EXISTS (SELECT 1 FROM public.user_roles WHERE role = 'admin') THEN
    INSERT INTO public.user_roles (user_id, role) VALUES (NEW.id, 'admin');
  ELSE
    INSERT INTO public.user_roles (user_id, role) VALUES (NEW.id, 'staff');
  END IF;
  RETURN NEW;
END;
$$;
CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE FUNCTION public.handle_new_user();

-- Products
CREATE TABLE public.products (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  sku TEXT NOT NULL UNIQUE,
  name TEXT NOT NULL,
  category TEXT,
  description TEXT,
  price NUMERIC(12,2) NOT NULL DEFAULT 0,
  cost NUMERIC(12,2) NOT NULL DEFAULT 0,
  stock_qty INTEGER NOT NULL DEFAULT 0,
  reorder_level INTEGER NOT NULL DEFAULT 0,
  image_url TEXT,
  status TEXT NOT NULL DEFAULT 'active',
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);
CREATE INDEX idx_products_name ON public.products (name);
CREATE INDEX idx_products_category ON public.products (category);
GRANT SELECT, INSERT, UPDATE, DELETE ON public.products TO authenticated;
GRANT ALL ON public.products TO service_role;
ALTER TABLE public.products ENABLE ROW LEVEL SECURITY;
CREATE POLICY "products_read_all_auth" ON public.products FOR SELECT TO authenticated USING (true);
CREATE POLICY "products_write_manager" ON public.products FOR INSERT TO authenticated
  WITH CHECK (public.has_role(auth.uid(),'admin') OR public.has_role(auth.uid(),'manager'));
CREATE POLICY "products_update_manager" ON public.products FOR UPDATE TO authenticated
  USING (public.has_role(auth.uid(),'admin') OR public.has_role(auth.uid(),'manager'));
CREATE POLICY "products_delete_admin" ON public.products FOR DELETE TO authenticated
  USING (public.has_role(auth.uid(),'admin'));

CREATE OR REPLACE FUNCTION public.touch_updated_at()
RETURNS trigger LANGUAGE plpgsql AS $$
BEGIN NEW.updated_at = now(); RETURN NEW; END; $$;
CREATE TRIGGER products_touch BEFORE UPDATE ON public.products
  FOR EACH ROW EXECUTE FUNCTION public.touch_updated_at();

-- Auth attempt log (for soft rate-limit accounting)
CREATE TABLE public.auth_attempts (
  id BIGSERIAL PRIMARY KEY,
  email TEXT NOT NULL,
  ip TEXT,
  succeeded BOOLEAN NOT NULL DEFAULT false,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);
CREATE INDEX idx_auth_attempts_email_time ON public.auth_attempts (email, created_at DESC);
GRANT ALL ON public.auth_attempts TO service_role;
ALTER TABLE public.auth_attempts ENABLE ROW LEVEL SECURITY;


ALTER FUNCTION public.touch_updated_at() SET search_path = public;
REVOKE EXECUTE ON FUNCTION public.has_role(uuid, app_role) FROM PUBLIC, anon;
REVOKE EXECUTE ON FUNCTION public.handle_new_user() FROM PUBLIC, anon, authenticated;
REVOKE EXECUTE ON FUNCTION public.touch_updated_at() FROM PUBLIC, anon, authenticated;
CREATE POLICY "auth_attempts_no_client" ON public.auth_attempts FOR SELECT TO authenticated USING (false);


CREATE POLICY "product_images_read" ON storage.objects FOR SELECT TO authenticated
  USING (bucket_id = 'product-images');
CREATE POLICY "product_images_write" ON storage.objects FOR INSERT TO authenticated
  WITH CHECK (bucket_id = 'product-images' AND (public.has_role(auth.uid(),'admin') OR public.has_role(auth.uid(),'manager')));
CREATE POLICY "product_images_update" ON storage.objects FOR UPDATE TO authenticated
  USING (bucket_id = 'product-images' AND (public.has_role(auth.uid(),'admin') OR public.has_role(auth.uid(),'manager')));
CREATE POLICY "product_images_delete" ON storage.objects FOR DELETE TO authenticated
  USING (bucket_id = 'product-images' AND public.has_role(auth.uid(),'admin'));


-- ============================================================
-- ERP SYSTEM â€” 1:1 schema port from MERN/PostgreSQL
-- ============================================================

-- 1. Extend role enum to match original (Super Admin, Admin, Manager, Cashier, Staff)
ALTER TYPE public.app_role ADD VALUE IF NOT EXISTS 'super_admin';
ALTER TYPE public.app_role ADD VALUE IF NOT EXISTS 'cashier';

-- 2. Extend profiles with original user metadata fields
ALTER TABLE public.profiles
  ADD COLUMN IF NOT EXISTS username TEXT,
  ADD COLUMN IF NOT EXISTS phone TEXT,
  ADD COLUMN IF NOT EXISTS profile_pic TEXT,
  ADD COLUMN IF NOT EXISTS role TEXT NOT NULL DEFAULT 'Cashier';

-- 3. Drop the placeholder products table from the earlier pass
DROP TABLE IF EXISTS public.products CASCADE;

-- 4. Touch trigger for updated_at
CREATE OR REPLACE FUNCTION public.touch_updated_at()
RETURNS trigger LANGUAGE plpgsql SET search_path = public AS $$
BEGIN NEW.updated_at = now(); RETURN NEW; END $$;

-- 5. Helper: is the current user staff with at least one of the given text roles?
CREATE OR REPLACE FUNCTION public.staff_has_role(roles TEXT[])
RETURNS boolean LANGUAGE sql STABLE SECURITY DEFINER SET search_path = public AS $$
  SELECT EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role = ANY(roles));
$$;

CREATE OR REPLACE FUNCTION public.is_staff()
RETURNS boolean LANGUAGE sql STABLE SECURITY DEFINER SET search_path = public AS $$
  SELECT EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid());
$$;

-- ============================================================
-- CATEGORIES
-- ============================================================
CREATE TABLE public.categories (
  id           BIGSERIAL PRIMARY KEY,
  name         TEXT NOT NULL UNIQUE,
  description  TEXT,
  created_at   TIMESTAMPTZ NOT NULL DEFAULT now()
);
GRANT SELECT, INSERT, UPDATE, DELETE ON public.categories TO authenticated;
GRANT USAGE, SELECT ON SEQUENCE public.categories_id_seq TO authenticated;
GRANT ALL ON public.categories TO service_role;
ALTER TABLE public.categories ENABLE ROW LEVEL SECURITY;
CREATE POLICY categories_read   ON public.categories FOR SELECT TO authenticated USING (public.is_staff());
CREATE POLICY categories_write  ON public.categories FOR ALL    TO authenticated
  USING      (public.staff_has_role(ARRAY['Super Admin','Admin','Manager']))
  WITH CHECK (public.staff_has_role(ARRAY['Super Admin','Admin','Manager']));

-- ============================================================
-- PRODUCTS (matches original columns exactly)
-- ============================================================
CREATE TABLE public.products (
  id                   BIGSERIAL PRIMARY KEY,
  name                 TEXT NOT NULL,
  category             TEXT,
  price                NUMERIC(12,2) NOT NULL DEFAULT 0,
  unit                 TEXT NOT NULL DEFAULT 'pcs',
  stock_count          NUMERIC(12,2) NOT NULL DEFAULT 0,
  batch_id             TEXT,
  brand                TEXT,
  size                 TEXT,
  description          TEXT,
  images               TEXT[] DEFAULT '{}',
  cover_image          TEXT,
  stock_type           TEXT NOT NULL DEFAULT 'Batch',
  low_stock_threshold  NUMERIC(12,2) NOT NULL DEFAULT 10,
  is_archived          BOOLEAN NOT NULL DEFAULT FALSE,
  created_at           TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at           TIMESTAMPTZ NOT NULL DEFAULT now()
);
CREATE INDEX products_category_idx ON public.products(category);
CREATE INDEX products_archived_idx ON public.products(is_archived);
GRANT SELECT, INSERT, UPDATE, DELETE ON public.products TO authenticated;
GRANT USAGE, SELECT ON SEQUENCE public.products_id_seq TO authenticated;
GRANT ALL ON public.products TO service_role;
ALTER TABLE public.products ENABLE ROW LEVEL SECURITY;
CREATE POLICY products_read  ON public.products FOR SELECT TO authenticated USING (public.is_staff());
CREATE POLICY products_write ON public.products FOR ALL    TO authenticated
  USING      (public.staff_has_role(ARRAY['Super Admin','Admin','Manager']))
  WITH CHECK (public.staff_has_role(ARRAY['Super Admin','Admin','Manager']));
CREATE TRIGGER products_touch BEFORE UPDATE ON public.products
  FOR EACH ROW EXECUTE FUNCTION public.touch_updated_at();

-- ============================================================
-- INVENTORY (batch-level stock)
-- ============================================================
CREATE TABLE public.inventory (
  id           BIGSERIAL PRIMARY KEY,
  product_id   BIGINT NOT NULL REFERENCES public.products(id) ON DELETE CASCADE,
  batch_id     TEXT,
  stock_count  NUMERIC(12,2) NOT NULL DEFAULT 0,
  created_at   TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at   TIMESTAMPTZ NOT NULL DEFAULT now()
);
CREATE INDEX inventory_product_idx ON public.inventory(product_id);
GRANT SELECT, INSERT, UPDATE, DELETE ON public.inventory TO authenticated;
GRANT USAGE, SELECT ON SEQUENCE public.inventory_id_seq TO authenticated;
GRANT ALL ON public.inventory TO service_role;
ALTER TABLE public.inventory ENABLE ROW LEVEL SECURITY;
CREATE POLICY inventory_read  ON public.inventory FOR SELECT TO authenticated USING (public.is_staff());
CREATE POLICY inventory_write ON public.inventory FOR ALL    TO authenticated
  USING      (public.staff_has_role(ARRAY['Super Admin','Admin','Manager']))
  WITH CHECK (public.staff_has_role(ARRAY['Super Admin','Admin','Manager']));
CREATE TRIGGER inventory_touch BEFORE UPDATE ON public.inventory
  FOR EACH ROW EXECUTE FUNCTION public.touch_updated_at();

-- ============================================================
-- CUSTOMERS (CRM â€” separate from staff/auth users)
-- ============================================================
CREATE TABLE public.customers (
  id           BIGSERIAL PRIMARY KEY,
  fullname     TEXT NOT NULL,
  username     TEXT,
  email        TEXT,
  phone        TEXT,
  address      TEXT,
  created_at   TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at   TIMESTAMPTZ NOT NULL DEFAULT now()
);
GRANT SELECT, INSERT, UPDATE, DELETE ON public.customers TO authenticated;
GRANT USAGE, SELECT ON SEQUENCE public.customers_id_seq TO authenticated;
GRANT ALL ON public.customers TO service_role;
ALTER TABLE public.customers ENABLE ROW LEVEL SECURITY;
CREATE POLICY customers_read  ON public.customers FOR SELECT TO authenticated USING (public.is_staff());
CREATE POLICY customers_write ON public.customers FOR ALL    TO authenticated
  USING      (public.staff_has_role(ARRAY['Super Admin','Admin','Manager','Cashier']))
  WITH CHECK (public.staff_has_role(ARRAY['Super Admin','Admin','Manager','Cashier']));
CREATE TRIGGER customers_touch BEFORE UPDATE ON public.customers
  FOR EACH ROW EXECUTE FUNCTION public.touch_updated_at();

-- ============================================================
-- ORDERS / ORDER_ITEMS
-- ============================================================
CREATE TABLE public.orders (
  id               BIGSERIAL PRIMARY KEY,
  customer_id      BIGINT REFERENCES public.customers(id) ON DELETE SET NULL,
  fullname         TEXT NOT NULL,
  phone            TEXT,
  total_amount     NUMERIC(12,2) NOT NULL DEFAULT 0,
  discount_amount  NUMERIC(12,2) NOT NULL DEFAULT 0,
  final_amount     NUMERIC(12,2) NOT NULL DEFAULT 0,
  status           TEXT NOT NULL DEFAULT 'Pending',
  created_by       UUID REFERENCES auth.users(id) ON DELETE SET NULL,
  created_at       TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at       TIMESTAMPTZ NOT NULL DEFAULT now()
);
CREATE INDEX orders_customer_idx ON public.orders(customer_id);
CREATE INDEX orders_status_idx   ON public.orders(status);
GRANT SELECT, INSERT, UPDATE, DELETE ON public.orders TO authenticated;
GRANT USAGE, SELECT ON SEQUENCE public.orders_id_seq TO authenticated;
GRANT ALL ON public.orders TO service_role;
ALTER TABLE public.orders ENABLE ROW LEVEL SECURITY;
CREATE POLICY orders_read   ON public.orders FOR SELECT TO authenticated USING (public.is_staff());
CREATE POLICY orders_insert ON public.orders FOR INSERT TO authenticated
  WITH CHECK (public.staff_has_role(ARRAY['Super Admin','Admin','Manager','Cashier']));
CREATE POLICY orders_update ON public.orders FOR UPDATE TO authenticated
  USING      (public.staff_has_role(ARRAY['Super Admin','Admin','Manager','Cashier']))
  WITH CHECK (public.staff_has_role(ARRAY['Super Admin','Admin','Manager','Cashier']));
CREATE POLICY orders_delete ON public.orders FOR DELETE TO authenticated
  USING      (public.staff_has_role(ARRAY['Super Admin','Admin']));
CREATE TRIGGER orders_touch BEFORE UPDATE ON public.orders
  FOR EACH ROW EXECUTE FUNCTION public.touch_updated_at();

CREATE TABLE public.order_items (
  id          BIGSERIAL PRIMARY KEY,
  order_id    BIGINT NOT NULL REFERENCES public.orders(id) ON DELETE CASCADE,
  product_id  BIGINT NOT NULL REFERENCES public.products(id),
  quantity    NUMERIC(12,2) NOT NULL,
  price       NUMERIC(12,2) NOT NULL,
  unit        TEXT
);
CREATE INDEX order_items_order_idx ON public.order_items(order_id);
GRANT SELECT, INSERT, UPDATE, DELETE ON public.order_items TO authenticated;
GRANT USAGE, SELECT ON SEQUENCE public.order_items_id_seq TO authenticated;
GRANT ALL ON public.order_items TO service_role;
ALTER TABLE public.order_items ENABLE ROW LEVEL SECURITY;
CREATE POLICY order_items_read  ON public.order_items FOR SELECT TO authenticated USING (public.is_staff());
CREATE POLICY order_items_write ON public.order_items FOR ALL    TO authenticated
  USING      (public.staff_has_role(ARRAY['Super Admin','Admin','Manager','Cashier']))
  WITH CHECK (public.staff_has_role(ARRAY['Super Admin','Admin','Manager','Cashier']));

-- ============================================================
-- BREAKAGE LOGS
-- ============================================================
CREATE TABLE public.breakage_logs (
  id            BIGSERIAL PRIMARY KEY,
  inventory_id  BIGINT REFERENCES public.inventory(id) ON DELETE SET NULL,
  product_id    BIGINT NOT NULL REFERENCES public.products(id),
  staff_id      UUID REFERENCES auth.users(id) ON DELETE SET NULL,
  quantity      NUMERIC(12,2) NOT NULL,
  reason        TEXT,
  logged_at     TIMESTAMPTZ NOT NULL DEFAULT now()
);
GRANT SELECT, INSERT, UPDATE, DELETE ON public.breakage_logs TO authenticated;
GRANT USAGE, SELECT ON SEQUENCE public.breakage_logs_id_seq TO authenticated;
GRANT ALL ON public.breakage_logs TO service_role;
ALTER TABLE public.breakage_logs ENABLE ROW LEVEL SECURITY;
CREATE POLICY breakage_read  ON public.breakage_logs FOR SELECT TO authenticated USING (public.is_staff());
CREATE POLICY breakage_write ON public.breakage_logs FOR ALL    TO authenticated
  USING      (public.staff_has_role(ARRAY['Super Admin','Admin','Manager']))
  WITH CHECK (public.staff_has_role(ARRAY['Super Admin','Admin','Manager']));

-- ============================================================
-- COUPONS
-- ============================================================
CREATE TABLE public.coupons (
  id            BIGSERIAL PRIMARY KEY,
  code          TEXT NOT NULL UNIQUE,
  type          TEXT NOT NULL,
  value         NUMERIC(12,2) NOT NULL,
  min_purchase  NUMERIC(12,2) NOT NULL DEFAULT 0,
  status        TEXT NOT NULL DEFAULT 'Active',
  created_at    TIMESTAMPTZ NOT NULL DEFAULT now()
);
GRANT SELECT, INSERT, UPDATE, DELETE ON public.coupons TO authenticated;
GRANT USAGE, SELECT ON SEQUENCE public.coupons_id_seq TO authenticated;
GRANT ALL ON public.coupons TO service_role;
ALTER TABLE public.coupons ENABLE ROW LEVEL SECURITY;
CREATE POLICY coupons_read  ON public.coupons FOR SELECT TO authenticated USING (public.is_staff());
CREATE POLICY coupons_write ON public.coupons FOR ALL    TO authenticated
  USING      (public.staff_has_role(ARRAY['Super Admin','Admin','Manager']))
  WITH CHECK (public.staff_has_role(ARRAY['Super Admin','Admin','Manager']));

-- ============================================================
-- SETTINGS (singleton row id=1)
-- ============================================================
CREATE TABLE public.settings (
  id              INT PRIMARY KEY DEFAULT 1,
  company_name    TEXT NOT NULL DEFAULT 'ERP System & Sanitary',
  whatsapp_number TEXT DEFAULT '',
  updated_at      TIMESTAMPTZ NOT NULL DEFAULT now(),
  CHECK (id = 1)
);
INSERT INTO public.settings (id) VALUES (1) ON CONFLICT DO NOTHING;
GRANT SELECT, UPDATE ON public.settings TO authenticated;
GRANT ALL ON public.settings TO service_role;
ALTER TABLE public.settings ENABLE ROW LEVEL SECURITY;
CREATE POLICY settings_read   ON public.settings FOR SELECT TO authenticated USING (public.is_staff());
CREATE POLICY settings_update ON public.settings FOR UPDATE TO authenticated
  USING      (public.staff_has_role(ARRAY['Super Admin','Admin']))
  WITH CHECK (public.staff_has_role(ARRAY['Super Admin','Admin']));
CREATE TRIGGER settings_touch BEFORE UPDATE ON public.settings
  FOR EACH ROW EXECUTE FUNCTION public.touch_updated_at();

-- ============================================================
-- handle_new_user: first signup = Super Admin, rest = Cashier
-- ============================================================
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS trigger LANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$
DECLARE
  is_first BOOLEAN;
  assigned_role TEXT;
BEGIN
  SELECT NOT EXISTS (SELECT 1 FROM public.profiles) INTO is_first;
  assigned_role := CASE WHEN is_first THEN 'Super Admin' ELSE 'Cashier' END;

  INSERT INTO public.profiles (id, email, full_name, username, role)
  VALUES (
    NEW.id,
    NEW.email,
    COALESCE(NEW.raw_user_meta_data->>'full_name', NEW.email),
    COALESCE(NEW.raw_user_meta_data->>'username', split_part(NEW.email, '@', 1)),
    assigned_role
  );

  -- Mirror into legacy user_roles enum for has_role() compatibility
  INSERT INTO public.user_roles (user_id, role)
  VALUES (NEW.id, CASE WHEN is_first THEN 'admin'::app_role ELSE 'staff'::app_role END);

  RETURN NEW;
END $$;

-- Seed categories
INSERT INTO public.categories (name, description) VALUES
  ('Tiles', 'Premium flooring and wall solutions'),
  ('Sanitary', 'Luxury bathroom and kitchen fittings'),
  ('Marble', 'Natural stone collection')
ON CONFLICT (name) DO NOTHING;


-- Pepper migration flag on profiles
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS password_peppered boolean NOT NULL DEFAULT false;

-- Blocked IPs table
CREATE TABLE IF NOT EXISTS public.blocked_ips (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  ip text NOT NULL UNIQUE,
  reason text,
  blocked_by uuid REFERENCES auth.users(id) ON DELETE SET NULL,
  created_at timestamptz NOT NULL DEFAULT now()
);

GRANT SELECT, INSERT, UPDATE, DELETE ON public.blocked_ips TO authenticated;
GRANT ALL ON public.blocked_ips TO service_role;

ALTER TABLE public.blocked_ips ENABLE ROW LEVEL SECURITY;

CREATE POLICY "blocked_ips_super_admin_select" ON public.blocked_ips
  FOR SELECT TO authenticated
  USING (public.staff_has_role(ARRAY['Super Admin']));

CREATE POLICY "blocked_ips_super_admin_insert" ON public.blocked_ips
  FOR INSERT TO authenticated
  WITH CHECK (public.staff_has_role(ARRAY['Super Admin']));

CREATE POLICY "blocked_ips_super_admin_delete" ON public.blocked_ips
  FOR DELETE TO authenticated
  USING (public.staff_has_role(ARRAY['Super Admin']));

-- Let Super Admins read auth_attempts (drop the deny-all policy first)
DROP POLICY IF EXISTS "auth_attempts_no_client" ON public.auth_attempts;

CREATE POLICY "auth_attempts_super_admin_select" ON public.auth_attempts
  FOR SELECT TO authenticated
  USING (public.staff_has_role(ARRAY['Super Admin']));


-- Allow any signed-in staff to view product images via signed URLs
DROP POLICY IF EXISTS "product_images_select" ON storage.objects;
CREATE POLICY "product_images_select" ON storage.objects
  FOR SELECT TO authenticated
  USING (bucket_id = 'product-images');

-- Allow staff to upload
DROP POLICY IF EXISTS "product_images_insert" ON storage.objects;
CREATE POLICY "product_images_insert" ON storage.objects
  FOR INSERT TO authenticated
  WITH CHECK (bucket_id = 'product-images' AND public.is_staff());

-- Allow staff to update/replace
DROP POLICY IF EXISTS "product_images_update" ON storage.objects;
CREATE POLICY "product_images_update" ON storage.objects
  FOR UPDATE TO authenticated
  USING (bucket_id = 'product-images' AND public.is_staff());

-- Allow Managers+/Admins to delete
DROP POLICY IF EXISTS "product_images_delete" ON storage.objects;
CREATE POLICY "product_images_delete" ON storage.objects
  FOR DELETE TO authenticated
  USING (bucket_id = 'product-images' AND public.staff_has_role(ARRAY['Super Admin','Admin','Manager']));

-- 1) Warehouses
CREATE TABLE public.warehouses (
  id BIGSERIAL PRIMARY KEY,
  name TEXT NOT NULL UNIQUE,
  address TEXT,
  is_default BOOLEAN NOT NULL DEFAULT false,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);
GRANT SELECT, INSERT, UPDATE, DELETE ON public.warehouses TO authenticated;
GRANT ALL ON public.warehouses TO service_role;
GRANT USAGE, SELECT ON SEQUENCE public.warehouses_id_seq TO authenticated;
ALTER TABLE public.warehouses ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Staff can view warehouses" ON public.warehouses FOR SELECT TO authenticated USING (public.is_staff());
CREATE POLICY "Managers can insert warehouses" ON public.warehouses FOR INSERT TO authenticated WITH CHECK (public.staff_has_role(ARRAY['Manager','Admin','Super Admin']));
CREATE POLICY "Managers can update warehouses" ON public.warehouses FOR UPDATE TO authenticated USING (public.staff_has_role(ARRAY['Manager','Admin','Super Admin'])) WITH CHECK (public.staff_has_role(ARRAY['Manager','Admin','Super Admin']));
CREATE POLICY "Admins can delete warehouses" ON public.warehouses FOR DELETE TO authenticated USING (public.staff_has_role(ARRAY['Admin','Super Admin']));

CREATE TRIGGER warehouses_touch_updated_at BEFORE UPDATE ON public.warehouses FOR EACH ROW EXECUTE FUNCTION public.touch_updated_at();

INSERT INTO public.warehouses (name, address, is_default) VALUES ('Main Warehouse', 'Primary Location', true);

-- 2) Add warehouse_id to inventory
ALTER TABLE public.inventory ADD COLUMN warehouse_id BIGINT REFERENCES public.warehouses(id) ON DELETE SET NULL;
UPDATE public.inventory SET warehouse_id = (SELECT id FROM public.warehouses WHERE is_default LIMIT 1) WHERE warehouse_id IS NULL;
CREATE INDEX inventory_warehouse_idx ON public.inventory(warehouse_id);

-- 3) Inventory transfers
CREATE TABLE public.inventory_transfers (
  id BIGSERIAL PRIMARY KEY,
  product_id BIGINT NOT NULL REFERENCES public.products(id) ON DELETE CASCADE,
  from_warehouse_id BIGINT NOT NULL REFERENCES public.warehouses(id),
  to_warehouse_id BIGINT NOT NULL REFERENCES public.warehouses(id),
  quantity NUMERIC NOT NULL CHECK (quantity > 0),
  notes TEXT,
  status TEXT NOT NULL DEFAULT 'Completed',
  transferred_by UUID REFERENCES auth.users(id) ON DELETE SET NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  CONSTRAINT different_warehouses CHECK (from_warehouse_id <> to_warehouse_id)
);
GRANT SELECT, INSERT, UPDATE, DELETE ON public.inventory_transfers TO authenticated;
GRANT ALL ON public.inventory_transfers TO service_role;
GRANT USAGE, SELECT ON SEQUENCE public.inventory_transfers_id_seq TO authenticated;
ALTER TABLE public.inventory_transfers ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Staff can view transfers" ON public.inventory_transfers FOR SELECT TO authenticated USING (public.is_staff());
CREATE POLICY "Managers can create transfers" ON public.inventory_transfers FOR INSERT TO authenticated WITH CHECK (public.staff_has_role(ARRAY['Manager','Admin','Super Admin']));

CREATE TRIGGER inventory_transfers_touch_updated_at BEFORE UPDATE ON public.inventory_transfers FOR EACH ROW EXECUTE FUNCTION public.touch_updated_at();
CREATE INDEX inventory_transfers_product_idx ON public.inventory_transfers(product_id);
CREATE INDEX inventory_transfers_created_idx ON public.inventory_transfers(created_at DESC);

-- 4) Audit logs
CREATE TABLE public.audit_logs (
  id BIGSERIAL PRIMARY KEY,
  user_id UUID REFERENCES auth.users(id) ON DELETE SET NULL,
  user_email TEXT,
  user_role TEXT,
  action TEXT NOT NULL,
  entity TEXT NOT NULL,
  entity_id TEXT,
  before_data JSONB,
  after_data JSONB,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);
GRANT SELECT ON public.audit_logs TO authenticated;
GRANT ALL ON public.audit_logs TO service_role;
ALTER TABLE public.audit_logs ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Admins can view audit logs" ON public.audit_logs FOR SELECT TO authenticated USING (public.staff_has_role(ARRAY['Admin','Super Admin']));

CREATE INDEX audit_logs_created_idx ON public.audit_logs(created_at DESC);
CREATE INDEX audit_logs_entity_idx ON public.audit_logs(entity, entity_id);
CREATE INDEX audit_logs_user_idx ON public.audit_logs(user_id);

-- 5) Audit trigger function
CREATE OR REPLACE FUNCTION public.write_audit_log()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  v_uid UUID := auth.uid();
  v_email TEXT;
  v_role TEXT;
  v_eid TEXT;
BEGIN
  IF v_uid IS NOT NULL THEN
    SELECT email, role INTO v_email, v_role FROM public.profiles WHERE id = v_uid;
  END IF;
  v_eid := COALESCE(NEW.id::TEXT, OLD.id::TEXT);
  INSERT INTO public.audit_logs (user_id, user_email, user_role, action, entity, entity_id, before_data, after_data)
  VALUES (
    v_uid, v_email, v_role, TG_OP, TG_TABLE_NAME, v_eid,
    CASE WHEN TG_OP IN ('UPDATE','DELETE') THEN to_jsonb(OLD) ELSE NULL END,
    CASE WHEN TG_OP IN ('INSERT','UPDATE') THEN to_jsonb(NEW) ELSE NULL END
  );
  RETURN COALESCE(NEW, OLD);
END $$;

CREATE TRIGGER audit_orders AFTER INSERT OR UPDATE OR DELETE ON public.orders FOR EACH ROW EXECUTE FUNCTION public.write_audit_log();
CREATE TRIGGER audit_products AFTER INSERT OR UPDATE OR DELETE ON public.products FOR EACH ROW EXECUTE FUNCTION public.write_audit_log();
CREATE TRIGGER audit_inventory AFTER INSERT OR UPDATE OR DELETE ON public.inventory FOR EACH ROW EXECUTE FUNCTION public.write_audit_log();
CREATE TRIGGER audit_inventory_transfers AFTER INSERT OR UPDATE OR DELETE ON public.inventory_transfers FOR EACH ROW EXECUTE FUNCTION public.write_audit_log();
CREATE TRIGGER audit_warehouses AFTER INSERT OR UPDATE OR DELETE ON public.warehouses FOR EACH ROW EXECUTE FUNCTION public.write_audit_log();

-- 6) Enable realtime on key tables
ALTER PUBLICATION supabase_realtime ADD TABLE public.orders;
ALTER PUBLICATION supabase_realtime ADD TABLE public.order_items;
ALTER PUBLICATION supabase_realtime ADD TABLE public.inventory;
ALTER PUBLICATION supabase_realtime ADD TABLE public.inventory_transfers;

REVOKE EXECUTE ON FUNCTION public.write_audit_log() FROM PUBLIC, anon, authenticated;
REVOKE EXECUTE ON FUNCTION public.touch_updated_at() FROM PUBLIC, anon, authenticated;
REVOKE EXECUTE ON FUNCTION public.handle_new_user() FROM PUBLIC, anon, authenticated;


DROP POLICY IF EXISTS profiles_insert_own ON public.profiles;
DROP POLICY IF EXISTS profiles_update_own ON public.profiles;
DROP POLICY IF EXISTS profiles_select_own ON public.profiles;
DROP POLICY IF EXISTS profiles_select_admin ON public.profiles;
DROP POLICY IF EXISTS profiles_update_admin ON public.profiles;

CREATE POLICY profiles_select_own ON public.profiles
  FOR SELECT TO authenticated USING (auth.uid() = id);

CREATE POLICY profiles_select_admin ON public.profiles
  FOR SELECT TO authenticated
  USING (public.staff_has_role(ARRAY['Super Admin','Admin']));

CREATE POLICY profiles_insert_own ON public.profiles
  FOR INSERT TO authenticated
  WITH CHECK (auth.uid() = id AND role = 'Cashier');

CREATE POLICY profiles_update_own ON public.profiles
  FOR UPDATE TO authenticated
  USING (auth.uid() = id)
  WITH CHECK (auth.uid() = id AND role = (SELECT role FROM public.profiles WHERE id = auth.uid()));

CREATE POLICY profiles_update_admin ON public.profiles
  FOR UPDATE TO authenticated
  USING (public.staff_has_role(ARRAY['Super Admin','Admin']))
  WITH CHECK (public.staff_has_role(ARRAY['Super Admin','Admin']));

REVOKE EXECUTE ON FUNCTION public.has_role(uuid, app_role) FROM PUBLIC, anon;
REVOKE EXECUTE ON FUNCTION public.staff_has_role(text[]) FROM PUBLIC, anon;
REVOKE EXECUTE ON FUNCTION public.is_staff() FROM PUBLIC, anon;
REVOKE EXECUTE ON FUNCTION public.write_audit_log() FROM PUBLIC, anon, authenticated;
REVOKE EXECUTE ON FUNCTION public.handle_new_user() FROM PUBLIC, anon, authenticated;
REVOKE EXECUTE ON FUNCTION public.touch_updated_at() FROM PUBLIC, anon, authenticated;

GRANT EXECUTE ON FUNCTION public.has_role(uuid, app_role) TO authenticated;
GRANT EXECUTE ON FUNCTION public.staff_has_role(text[]) TO authenticated;
GRANT EXECUTE ON FUNCTION public.is_staff() TO authenticated;

CREATE SCHEMA IF NOT EXISTS extensions;
DROP EXTENSION IF EXISTS pg_net;
CREATE EXTENSION pg_net WITH SCHEMA extensions;

